name: Contexts
on: push
jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.actor }}, ${{ runner.name }}"
      - run: echo "${{ github.event.pull_request.title }}, ${{ github.head_ref }}"